.but {
    display: grid;
    grid-gap: 10px;
    width: 200px;
}

.on{
    width: 200px;
    height: 100px;
    background-color: lawngreen;
}

.off {
    width: 200px;
    height: 100px;
background-color: red;
}